*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#map{
	background: #e8e8e8;
	width: 100%;
	height: 400px;
}

#dash{
	width: 100%;
	height: auto;
}

#send_message{
	background: #444;
	color: #e8e8e8;
	width: 100%;
	height: auto;
	margin: 0 0 8px 0;
	display: none;
	overflow: hidden;
}

#chatLog{
	background: #e8e8e8;
	color: #555;
	width: 570px;
	height: 300px;
	padding: 8px 8px 8px 8px;
	overflow-x: auto;
	overflow-y: scroll;
}

#chatMsg{
	width: 470px;
	height: 100px;
	float: left;
}

#chatSend{
	background: #222;
	color: #e8e8e8;
	width: 99px;
	height: 99px;
	float: right;
	cursor: pointer;
}


